body{
	margin-top: 25px;
	background-color: #D2D2D2;
}
.borde{
	border: solid 1px #0000FF;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 8px #3280CD;
	box-shadow: 0px 0px 8px #3280CD;
}
.container{
	padding-bottom: 2%;	
}
#ref{
	height:26em;
}
#res{
	height:26em;
	padding-top: 90px;
	padding-right: 4%;
}
footer{
	height:50px;
	margin-top:5px;
	padding-top:12px;
}
#frm{
	height:26em;
	padding-top: 20px;
	padding-right:3%;
	padding-left:3%;
}
.no-number{
	border:solid 1px #FF0000;
}
.t-der{
	text-align:right;
	font-size:20px;
	color:#063;
}
a{
	margin-right: 5%;
}
#acerca-content{
	display:none;
}
h4.text-right{
	margin-right: 10%;
}
#close-content{
	margin-top:-1%;
}
#acer-close{
	color:#F00;
}